.twit-wrapper {
  display: flex;
  justify-content: center;
}
.twit-content {
  margin-top: var(--20);
  border: var(--1) solid var(--main-grey);
  border-radius: var(--8);
  box-shadow: 0 var(--4) var(--4) var(--main-grey);
}
.twit-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 43.75rem;
}
.twit-header__arrow {
  margin-right: var(--20);
  padding-left: var(--35);
}
.twit-content__title {
  padding: var(--20) 0;
  margin-left: var(--09375);
}
.twit-content__inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0%, 100%);
}

.twit-message .message-content__item {
  min-width: 43.75rem;
  min-height: 9.375rem;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: var(--1) solid var(--grey-blur);
  cursor: pointer;
  padding: var(--20) var(--20) var(--20) var(--35);
}
.twit-content .message-content__textarea {
  border-bottom: none;
}
