header {
  position: sticky;
  top: 0;
  border: var(--1) solid var(--main-grey);
  box-shadow: 0 var(--2) var(--4) var(--main-grey);
  background-color: var(--white);
  z-index: 10;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
}
.header-content__logo {
  height: 3rem;
  width: 4.9375rem;
}
.header-content__button .common-button {
  margin-left: var(--20);
  background-color: var(--main-grey);
}
.header-content__log-name {
  font-size: var(--18);
  font-weight: 600;
}
.hiddenBtn {
  visibility: hidden;
}
.message-content__wrap-button.disableColor {
  background-color: var(--main-grey);
}
.message-content__wrap-button.disableColor:hover {
  background-color: var(--main-grey);
}
