@import url('../css/sections-style/main/header.css');
@import url('../css/sections-style/main/message.css');
@import url('../css/sections-style/main/filter.css');
@import url('../css/sections-style/main/footer.css');
@import url('../css/sections-style/twit/twit.css');
@import url('../css/sections-style/login/login.css');
@import url('../css/sections-style/login/signup.css');
@import url('../css/sections-style/error/error.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

:root {
  --btn-green: #2ecc71;
  --btn-green-hover: #1dbd60;
  --green-blur: #90d6ad;
  --main-grey: #c4c4c4;
  --grey-blur: #e5e5e5;
  --grey-dark: #aaaaaa;
  --hashtag: #471cf0;
  --white: #fff;
  --09375: 0.9375rem;
  --1: 0.0625rem;
  --2: 0.125rem;
  --4: 0.25rem;
  --8: 0.5rem;
  --10: 0.625rem;
  --18: 1.125rem;
  --20: 1.25rem;
  --24: 1.5rem;
  --35: 2.1875rem;
  --50: 3.125rem;
  --80: 5rem;
  --140: 8.75rem;
  --370: 23.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: var(--24);
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: var(--09375);
  padding-right: var(--09375);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.common-button {
  width: 10.625rem;
  height: var(--35);
  background-color: var(--btn-green);
  border-radius: var(--4);
  font-size: var(--18);
  font-weight: 600;
  color: var(--white);
  border: var(--1) solid var(--main-grey);
  cursor: pointer;
}
.common-button:hover {
  background-color: var(--btn-green-hover);
  box-shadow: 0 var(--2) var(--4) var(--main-grey);
}
.hashtag {
  color: var(--hashtag);
}
/* дополнительный классы */
.hiddenBtn {
  visibility: hidden;
}
.disableColor {
  background-color: var(--grey-blur);
}
.disableColor:hover {
  background-color: var(--grey-blur);
}
.common-button.disableColor:hover {
  box-shadow: none;
}

.message-content__reply-buttons {
  visibility: hidden;
}
.show-btns {
  visibility: visible;
}
.unvisible-block {
  visibility: hidden;
}
