@import url("../css/sections-style/main/header.css");
@import url("../css/sections-style/main/message.css");
@import url("../css/sections-style/main/filter.css");
@import url("../css/sections-style/main/footer.css");
@import url("../css/sections-style/twit/twit.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
:root {
  --btn-green: #2ecc71;
}
:root {
  --btn-green-hover: #1dbd60;
}
:root {
  --main-grey: #c4c4c4;
}
:root {
  --grey-blur: #e5e5e5;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 24px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.common-button {
  width: 170px;
  height: 35px;
  background-color: var(--btn-green);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: 1px solid var(--main-grey);
  cursor: pointer;
}
.common-button:hover {
  background-color: var(--btn-green-hover);
  box-shadow: 0 2px 4px var(--main-grey);
}
.hashtag {
  color: #471cf0;
}
