.message-content__wrapper {
  padding-top: var(--20);
}
.message-content__form {
  display: flex;
  flex-direction: column;
}
.message-content__label {
  font-size: var(--24);
  font-weight: 600;
}

.message-content__item {
  min-width: 43.75rem;
  min-height: 9.375rem;
  border: 0.1875rem solid var(--main-grey);
  border-radius: var(--8);
  box-shadow: 0 var(--2) var(--4) var(--main-grey);
  padding: var(--20) var(--20) var(--20) var(--35);
}

.message-content .message-content__item {
  margin-bottom: var(--20);
}
.message-content__label {
  padding-bottom: var(--20);
}

/* .message-content__textarea, */
.unauthorised {
  background-color: var(--grey-blur);
  opacity: 0.5;
}
.message-content__textarea {
  resize: none;
  color: black;
  vertical-align: bottom;
  margin-bottom: var(--20);
  border: none;
  border-bottom: var(--1) solid var(--main-grey);
}
.message-content__textarea:focus {
  outline: none;
}
.message-content__wrap-button {
  display: flex;
  justify-content: end;
}
.message-content__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--20);
}
.message-content__twit {
  padding-bottom: var(--20);
  font-weight: 500;
}
.message-content__reply {
  display: flex;
  justify-content: space-between;
}
.message-content__wrap-reply {
  display: flex;
}
.message-content__svg {
  width: var(--20);
  height: var(--20);
  margin-right: var(--10);
}
.message-content__reply-buttons .common-button {
  background-color: var(--main-grey);
}
